@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&family=Poppins:wght@300;400;700&display=swap');
*{
    padding: 0%;
    margin: 0%;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: black;
}

.main{
    background-image: url(img/bg.jpg);
    height: 70vh;
    position: relative;
    background-position: center;
    background-repeat: none;
   
  
}
.main .box{
    height: 70vh;
    width: 100%;
    opacity: 0.6;
    background-color: black;
    position: absolute;
    top: 0;
    color:aliceblue;
}
 img
{
    height: 34px;
    width: 69px;
}
nav{
    display: flex;
    margin: auto;
    max-width: 80vw;
    align-items: center;
    justify-content: space-between;
    height: 62px;
}

nav img{
    color: red;
    width: 130px;
    position: relative;
    z-index: 10;
}
nav button{
    position: relative;
    z-index: 10;
}
.hero{
    height: calc(100%-62px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: aliceblue;
    position: relative;
    font-family: 'Martel Sans', sans-serif;
    gap: 18px;
    padding:0 23px;
    text-align: center;

}
.hero >:first-child{
    font-weight:bolder;
    font-size: 48px;
    text-align: center;
}

.hero:nth-child(2)
{
    font-weight:400;
    font-size: 24px;
}

.speration{
    height: 7px;
    background-color:rgb(66, 66, 66);
}
.btn{
    padding: 3px 8px;
    font-weight: 400;
    background-color:rgba(248,243,243,0.342);
    color:white;
    border: 1px solid white;
    border-radius: 4px;
    cursor: pointer;
}
.red {
    background-color: red;
    color: aliceblue;
    padding: 3px 24px;
    font-size: 20px;
    border-radius: 4px;
}
.sm{
    background-color: red;
    color: aliceblue;
}
.hero-button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}
.main input{
    padding: 7px 101px 8px 14px;
    font-size: 12px; 
    border-radius: 4px;
    color: white;
    background-color: rgba(23,23,23,0.7);
    border: 1px solid rgba(246,238,238,0.5);
}
.first
{
   display: flex;
   justify-content: center;
   align-items: center;
   max-width: 70vw; 
   margin: auto;
   color: white;
}

.secimg{
    position: relative;
   
}
@media screen and (max-width:500px) {
    body{
        background-color: red;
    }
    
}

.secimg img{
    width: 555px;
    height: inherit;
    z-index: 10;
    position: relative;
}
.secimg video{
    position:absolute;
    top: 51px;
    right: 0;
}

section.first>div {
    display: flex;
    flex-direction: column;
    padding: 34px 0;
}

section.first>div :nth-child(1) {
    font-size: 48px;
    font-weight: bolder;
}


section.first>div :nth-child(2) {
    font-size: 24px;

}

.box1{
    display: flex;
    background-color: grey;
    padding: 24px;
    width: 100vw;
    color: white;
    max-width: 50vw;
    margin: 34px auto;
    justify-content: space-between;
    font-size: 24px;
    transition: all 2s ease-out;
}
.fq{
    background:black;
    color: aliceblue;
  
}
.box1:hover
{
    background-color:rgb(64, 62, 62);
    
}
.fq h2{
    text-align: center;
    padding: 24px;
    font-size: 34px;
}

.box1 svg{
    filter: invert(1);
}
footer{
    color: aliceblue;
    max-width: 89vw;
    margin: auto;

}
.fitem{
    display: flex;
    flex-direction: column;
    gap:23px;
    align-items: center;
}
.footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: aliceblue;
    justify-content: center;
    align-items: center;
    padding: 34px;
    
}
footer .question{
padding:34px 0;
}
.footer a{
font-size: 14px;
    color: aliceblue;
    
}

.cre{
    color:aliceblue;
    text-align: center;
}
